<div class="row">
<h1>Editing Pstaff</h1>
</div>

<%= render 'form', pstaff: @pstaff %>
<div class="row">
	<h1 class="align-left">
<%= link_to 'Show', @pstaff ,class:"btn btn-primary align-right" %> </h1>
<h1 class="align-right">
<%= link_to 'Back', pstaffs_path, class:"btn btn-primary align-left"  %></h1>
</div>
